.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

body {
  background: #eeeeee;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  padding: 15px;
  background-color: #636363;
}

.quote-container {
  padding: 15px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #dddddd;
}

.quote-body {
  font-family: 'Book Antiqua', serif;
  font-style: italic;
}

.quote-refresh {
  float:right;
}

.green-button {
  background-color: rgb(35, 161, 35);
  color: #e9e9e9;
  border: 1px solid rgb(65, 177, 31);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.goal-list {
  margin-top: 15px;
  padding: 15px;
  background-color: #eeeeee;
}

.goal-form {
  border: 2px solid #000;
  background-color: #dddddd;
}

.goal-name {
  padding: 10px;
}

.goal-input {
  flex-grow: 5;
  margin-left: 15px;
}

.zip-form label {
    margin-top: 7px;
    vertical-align: middle;
}

.zip-form input {
    width: 20%;
    margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}

.zip-form button {
    padding: 7px 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.details {
  justify-content: flex-start;
}
.details > div {
  padding-left: 20px;
}

.details > div :first-child {
  padding-left: 0;
}

/* Code for progress bar if we can get it to work */
.myProgress {
  width: 100%;
  background-color: grey;
}

.myBar {
  width: 1%;
  height: 30px;
  background-image: linear-gradient(bottom right, rgb(6, 173, 0), rgb(43, 255, 0));
}